* {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  
  body {
    font-family:"Roboto";
  }
  
  header {
    background:#333;
  }
  
  .main-heading {
    text-align: center;
    font-size:32px;
    font-weight:bold;
    padding:48px 32px;
    color:#eee;
  }
  
  section {
    padding: 32px;
  }
  
  .desktop-nav {
    background:#222;
    width: 100vw;
    height:51px;
  }
  
  .nav1 {
    float:right;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul a {
    padding: 16px 32px;
    display: block;
    text-decoration: none;
    color:#fff;
    background:#222;
  }
  
  nav ul a:hover {
    background:#282828;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    flex-direction: column;
    box-shadow: 3px 2px 2px -1px rgba(0, 0, 0, .32);
  }
  
  nav ul ul a {
    min-width:170px;
  }
  
  .mobile-nav {
    display:none;
  }
  
  #toggle-nav {
    display:none;
    
  }
  
  i {
    margin-left: 8px;
  }
  
  /* Mobile Navigation */
  
  @media(max-width:600px) {
    .desktop-nav {
      display: none;

    }
  
    #toggle-nav {
      display:block;
      position:absolute;
      top:24px;
      right:8px;
      font-size:42px;
      background:#eee;
      padding: 2px 16px;
      border-radius:50%;
      transition: .4s;
      cursor:pointer;
    }
  
    #toggle-nav.open {
      transform: rotate(225deg);
      color:#8f0303;
    }
  
    .mobile-nav {
      display: block;
      max-height:0;
      overflow:hidden;
      transition: .4s ease-in-out;
    }
  
    .mobile-nav.open {
      max-height:260px;
    }
  
    .mobile-nav ul a {
      display:block;
      padding: 8px 16px;
      text-decoration: none;
      color:#fff;
      background:#222;
    }
  
    .mobile-nav ul ul  {
      margin-left: 4px;
      display:none;
    }
  
    .mobile-nav ul ul a {
      background:#111;
    }
  }
  



  
  
/* *, *::before, *::after {
    box-sizing: border-box;
 }*/
 
 body {
    font-family: sans-serif;
    font-size: 1em;
    color: #333;
 }
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
    font-style: normal;
 }
 
 a {
    text-decoration: none;
    color: inherit;
 } 
 
 /* Layout */
 .s-layout {
    display:flex;
    width: 100%;
    min-height: 100vh;
    
    
 }

 .s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position:fixed;
    top: 51px;
    left: 8px;
    width: 3.7em;
    height: 3.7em;
    background: #eee;
    display:block;
    top:24px;
    background:#eee;
    border-radius:50%;
    transition: .4s;
    cursor:pointer;
    color:red;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.3em 1.4em 1.4em 1.4em;
    color: #333;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #333;
    color: rgba(255, 255, 255, 0.7);
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 5%;/*mobile view heigth*/
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;

 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background: #4d6276;
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 /* Mobile First */
 @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    
    .s-sidebar__nav {
       width: 4em;
       left: 0;
       
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 18%;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 5%;
    }
    
     /*Sidebar*/ 
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 18%;
       
    }
    
    .s-sidebar__nav ul {
       top: 2.9em;
    }
 }
