* {
    padding:0;
    margin:0;
    box-sizing: border-box;

  }
  /*n*/
  body {
    font-family:"Roboto";
  }
  
  header {
    background:#333;
  }
  
  .main-heading {
    text-align: center;
    font-size:32px;
    font-weight:bold;
    padding:48px 32px;
    color:#eee;
  }
  
  section {
    padding: 32px;
  }
  
  .desktop-nav {
    background:#222;
    width: 100%;
    height:51px;
  }
  
  .nav1 {
    float:right;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul a {
    padding: 16px 32px;
    display: block;
    text-decoration: none;
    color:#fff;
    background:#222;
  }
  
  nav ul a:hover {
    background:#282828;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    flex-direction: column;
    box-shadow: 3px 2px 2px -1px rgba(0, 0, 0, .32);
  }
  
  nav ul ul a {
    min-width:170px;
  }
  
  .mobile-nav {
    display:none;
  }
  
  #toggle-nav {
    display:none;
    
  }
  
  i {
    margin-left: 8px;
  }
  
  /* Mobile Navigation */
  
  @media(max-width:600px) {
    .desktop-nav {
      display: none;

    }
  
    #toggle-nav {
      display:block;
      position:absolute;
      top:24px;
      right:8px;
      font-size:42px;
      background:#eee;
      padding: 2px 16px;
      border-radius:50%;
      transition: .4s;
      cursor:pointer;
    }
  
    #toggle-nav.open {
      transform: rotate(225deg);
      color:#8f0303;
    }
  
    .mobile-nav {
      display: block;
      max-height:0;
      overflow:hidden;
      transition: .4s ease-in-out;
    }
  
    .mobile-nav.open {
      max-height:260px;
    }
  
    .mobile-nav ul a {
      display:block;
      padding: 8px 16px;
      text-decoration: none;
      color:#fff;
      background:#222;
    }
  
    .mobile-nav ul ul  {
      margin-left: 4px;
      display:none;
    }
  
    .mobile-nav ul ul a {
      background:#111;
    }
  }
  



  
  
/* *, *::before, *::after {
    box-sizing: border-box;
 }*/
 
 body {
    font-family: sans-serif;
    font-size: 1em;
    color: #333;
 }
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
    font-style: normal;
 }
 
 a {
    text-decoration: none;
    color: inherit;
 } 
 
 /* Layout */
 .s-layout {
    display:flex;
    width: 100%;
    /*min-height: 100vh; changed here*/
    
    
 }

 .s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position:fixed;
    top: 51px;
    left: 8px;
    width: 3.7em;
    height: 3.7em;
    background: #eee;
    display:block;
    top:24px;
    background:#eee;
    border-radius:50%;
    transition: .4s;
    cursor:pointer;
    color:red;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.3em 1.4em 1.4em 1.4em;
    color: #333;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: black;
    color: rgba(255, 255, 255, 0.7);
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 5%;/*mobile view heigth*/
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;

 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 /*.s-sidebar__nav-link:hover {
    background: #4d6276;
 }*/
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 /* Mobile First */
 @media (min-width: 86em) {
    .s-layout__content {
       margin-left: 4em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    
    .s-sidebar__nav {
       width: 4em;
       left: 0;
       
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
        width: 15em;
    }
    
    
 }
 #circle-shape-example { 
    font-family: Open Sans, sans-serif; 
    margin: 2rem; 
    width: 80%;
    left:15%;
    padding-left:15%;
  }
 
 @media (min-width: 86em) {
    .s-layout__content {
       margin-left: 5%;
    }
    
     /*Sidebar*/ 
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
        width: 15em;
       
    }
    
    .s-sidebar__nav ul {
       top: 2.9em;
    }
    
    
    
 }
 


 
 /* make a grid */
 .wrapper {
     max-width: 910px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 3fr;
     grid-template-rows: auto 1fr auto;
     grid-gap: 20px;
 }
 
 
 header,
 footer {
     grid-column: 1 / -1;
     border: #557a55 solid;
     color: black;
     background-color: white;
 }
 
 
 .wrapper > * {
     /*background-color: #444;*/
     border: #557a55 solid;
     color: black;
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;
 }
 
 /** mobile **/
 
 @media screen and (max-width:480px) {
 
     body,
     html,
     .wrapper {
         height: auto;
     }
     #circle-shape-example { 
        font-family: Open Sans, sans-serif; 
        
        width: 90%;
        border: #557a55 solid;
        
        
        left:-5%;
        margin: 1rem; 
    
        left:2px;
        padding-left:2px;
        
      }
     /* make a grid */
     .wrapper {
         display: flex;
         flex-direction: column;
     }
 
     header,
     footer,
     article,
     aside {
         margin-bottom: 20px;
     }
     
 
 }
*{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    letter-spacing: 0.07em;
}
p{
    font-size:17px;
    line-height: 1.6;
   
}
.main-heading{
    background-color:#557a55 ;
}

   

.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: white;
    background-color: #557a55;
    display: inline-block;
    background: #557a55;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: absolute;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}


/* Colours */
.red {
    background-color: #557a55;
}

.red {
    left:20%;
}
@media (max-width:56em) {
    .red{
        left:0px;
    }
    
}
.red1 {
    background-color: #557a55;
}

.red1 {
    right:20%;
}
@media (max-width:56em) {
    .red1{
        right: 0px;
    }
    
}


.red{
    margin: 6px 6px 6px 6px;
    padding: 1em 1.6em 1.2em;
}


/*footer*/

.footer-section {
    background: #151414;
    position: relative;
    padding-top: 2%;
    
  }

  .footer-cta {
    border-bottom: 1px solid #557a55;
    padding-bottom: 2%;
  }
  .single-cta i {
    color: #557a55;
    font-size: 30px;
    float: left;
    margin-top: 8px;
    padding-left: 10%;
    
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  } 
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10%;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
    padding-left: 10%;
    padding-left: 10%;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    padding-left: 10%;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    padding-left: 10%;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    padding-left: 10%;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #557a55;
    padding-left: 10%;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    padding-left: 10%;
  }
  .footer-widget ul li a:hover{
    color: #557a55;
    padding-left: 10%;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
    padding-left: 10%;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
    overflow: hidden;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: #557a55;
      padding: 13px 20px;
      border: 1px solid #557a55;
      top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
    padding-left: 10%;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #557a55;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #557a55;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  .footer-section{
    overflow: hidden;
    right: 0px;
    width: 100%;
  }
 
  
  .image {
    display: block;
    margin: 0 auto 0 auto; /* Centred */
    width: 90%;
    border: #557a55 solid;
  }
  
  /* Layout For Larger Screens */
  @media screen and (min-width: 40em) {
    .image {
      padding: 0 2em 0 2em;
      width: 66.6%;
    }
  }


/*
  .-fx-image-gal {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	justify-content: center;
}
.-fx-gal-item {
	width: 95%;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
    border: #557a55 solid;
    
}

.-fx-gal-item a {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.-fx-gal-image-thumb img {
	width: 100%;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(1.1);
	transition: all 0.5s ease;
    
}

.-fx-gal-image-thumb:hover img {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.5);
	transition: all 0.5s ease;
}
@media (min-width: 420px) {
	.-fx-image-gal {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.-fx-gal-item {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.-fx-gal-item {
		width: 33.33%;
	}
}

*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#circle-shape-example p { 
  line-height: 1.8; 
}
#circle-shape-example .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

